@media (max-width: 1200px) {
    .container {
        width: 960px;
    }
    .social-panel {
        display: none;
    }
    .about {
        &__wrapper {
            grid-template-columns: 276px 633px;
            column-gap: 50px;
            row-gap: 30px;
        }
        &__skills-item {
            grid-template-columns: 25px 1fr;
        }
    }
    .resume__wrapper {
        column-gap: 100px;
        grid-template-columns: repeat(2, 365px);
    }
    .skills {
        &__technologies {
            grid-template-columns: repeat(3, 270px);
            justify-content: center;
        }
        &__rates {
            grid-template-columns: repeat(2, 395px);
            justify-content: center;
            &-item-scale {
                width: 100%;
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        width: 720px;
    } 
    .about {
        padding-top: 70px;
        &__wrapper {
            grid-template-columns: 245px 450px;
            column-gap: 25px;
        }
        &__photo {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__subtitle {
            font-size: 30px;
            line-height: 31px;
            margin-bottom: 5px;
        }
        &__text {
            margin-top: 10px;
            line-height: 18px;
        }
        &__skills {
            column-gap: 15px;
            &-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                div[data-wrap="tac"] {
                    text-align: center;
                }
            }
            &-text {
                line-height: 15px;
            }
        }
    }
    .resume {
        padding-top: 70px;
        .subtitle-section {
            line-height: 50px;
        }
        &__wrapper {
            padding: 35px 15px 0;
            column-gap: 60px;
            grid-template-columns: repeat(2, 315px);
        }
        &__item {
            &-head {
                padding-top: 25px;
            }
            &-icon{
                top: 35px;  
            }    
        }
    }
    .skills {
        padding-top: 70px;
        &__technologies{
            grid-template-columns: repeat(3, 224px);
            grid-auto-rows: minmax(224px, auto);
            margin-top: 35px;
            &-item {
                padding: 11px 11px 11px;
                &-title {
                    margin-top: 10px;
                }
                &-descr {
                    margin-top: 5px;
                    line-height: 17px;
                }
            }
        }
        &__rates {
            margin-top: 70px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        width: 540px;
    } 
    .promo{
        &__title {
            font-size: 35px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: 370px auto auto;
            row-gap: 15px;
        }
        &__photo  {
            grid-row: unset
        }
        &__subtitle {
            margin-top: 13px;
        }
        &__skills {
            grid-template-columns: 1fr;
            grid-auto-rows: minmax(55px, auto);
            row-gap: 13px;
            &-item {
                display: grid;
                grid-auto-columns: 25px auto;
                div[data-wrap="tac"] {
                    text-align: left;
                }
            }
        }
    }
    .resume {
        padding-top: 40px;
        .subtitle-section {
            line-height: 40px;
        }
        .divider {
            margin-top: 15px;
        }
        &__wrapper {
            grid-template-columns: 1fr;
            grid-auto-rows: auto;
        }
    }
    .skills {
        padding-top: 40px;
        .subtitle-section {
            line-height: 40px;
        }
        .divider {
            margin-top: 15px;
        }
        &__technologies {
            grid-template-columns: repeat(2, 1fr);
        }
        &__rates {
            padding: 0 11px; 
            margin-top: 35px;
            grid-template-columns: 1fr;
            &-item-scale {
                width:  100%;
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    } 
    .promo {
        background: url('../img/main_bg.jpg') 45%/cover no-repeat;
        &__title {
            font-size: 28px;
            line-height: 39px;
            width: 300px;
        }
        &__bttns {
            margin-top: 32px;
        }
        .hamburger {
            right: 20px;
        }
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 55px;
        }
    }
    .skills {
        &__technologies {
            grid-template-columns: 1fr;
        }
        &__rates {
            grid-template-columns: 1fr;
            &-item-scale {
                width: 100%
            }
        }
    }
}