.contacts {
    padding-top: 120px;
    &__wrapper {
        display: grid;
        grid-template-columns: 276px 794px;
        grid-template-rows: minmax(200px auto) minmax(213px auto);
        grid-auto-rows: minmax(243px auto);
        column-gap: 70px;
        row-gap: 40px;
    }
}