.resume {
    padding-top: 120px;
    &__wrapper {
        padding: 60px 65px 0;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 136px;
    }
    &__column {
        &-title {
            padding-left: 35px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: -7px;
                top: 7px;
                width: 15px;
                height: 15px;
                background: $base-color;
                border-radius: 50%;
            }
        }
        ul {
            list-style: none;
            li {
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: calc(100% + 16px);
                    background-color: #000;
                    top: -16px;
                }
            }
        }
    }
    &__item {
        &-head {
            position: relative;
            padding: 45px 0 0 99px;
            h4 {
            margin-bottom: 0;
            }
        }
        &-descr {
            padding: 12px 0 0 43px;
        }
        &-icon {
            position: absolute;
            top: 60px;
            left: 60px;
            @include before_circle;
            &:before {
                top: -55%;
                left: -16px;
            }
            &::after {
                content: '';
                position: absolute;
                top: 5px;
                left: -59px;
                height: 1px;
                width: 43px;
                background-color: #000;
            }
        }
        &-meta {
            font-size: 12px;
        }
        &-descr {
            font-size: 12px;
            line-height: 18px;
            color: #000000;
        }
    }
}

